# Descriptive Statistics

In [1]:
import seaborn as sns
tips=sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [3]:
!pip install researchpy 
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\dell\anaconda3\lib\site-packages (0.1.9)
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Collecting statsmodels
  Downloading statsmodels-0.12.1-cp37-none-win_amd64.whl (9.1 MB)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (from researchpy) (1.5.0)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from researchpy) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Collecting patsy>=0.5
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.1 statsmodels-0.12.1

WARNING: You are using pip version 20.1; however, version 20.3.3 is available.
You should consider upgrading via the 'c:\users\dell\anaconda3\python.exe -m pip install --upgrade pip' command.

In [4]:
rp.summary_cont(df[["total_bill","tip","size"]])# summary_cont is used for continuous (numerical) variables

     Variable      N       Mean        SD        SE  95% Conf.   Interval
0  total_bill  244.0  19.785943  8.902412  0.569919  18.663332  20.908554
1         tip  244.0   2.998279  1.383638  0.088578   2.823799   3.172758
2        size  244.0   2.569672  0.951100  0.060888   2.449737   2.689608

In [5]:
rp.summary_cat(df[["sex","smoker","day"]])#summary_cat is used for categorical variables

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [6]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [7]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

In [8]:
df[["size","total_bill"]].corr()

                size  total_bill
size        1.000000    0.598315
total_bill  0.598315    1.000000

In [9]:
df[["size","tip"]].corr()

          size       tip
size  1.000000  0.489299
tip   0.489299  1.000000